@page "/books/{registerId:int}"
<Alert @ref="ViewModel.Alert" />
@if (!ViewModel.IsBusy)
{
    <div class="row h-100 mb-3 row-gap-1">
        <div class="col-12 col-sm-8 col-md-9 my-auto">
            <div class="d-flex flex-row justify-content-between">
                <div class="my-auto">
                    <h3 class="my-auto">
                        Okres rozliczeniowy: @(ViewModel.SelectedBillingPeriod?.Name ?? "Brak")
                    </h3>
                </div>
                <div class="my-auto">
                    <h3 class="my-auto">
                        @if (ViewModel.SelectedBillingPeriod is not null)
                        {
                            if (ViewModel.SelectedBillingPeriod?.IsOpen ?? false)
                            {
                                <span class="badge bg-success">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock" viewBox="0 0 16 16">
                                        <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2M3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1z" />
                                    </svg>
                                </span>
                            }
                            else
                            {
                                <span class="badge bg-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                                        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1" />
                                    </svg>
                                </span>
                            }
                        }
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 my-auto">
            <div class="btn-group col-12" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-secondary" @onclick="ViewModel.PreviousPeriod">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                    </svg>
                </button>
                <button type="button" class="btn btn-secondary" @onclick="ViewModel.NextPeriod">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                    </svg>
                </button>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
                        </svg>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <button type="button" class="dropdown-item" @onclick="ViewModel.ToggleBillingPeriod" @attributes="ViewModel.IsOpenClosePeriodEnabled">
                                @((ViewModel.SelectedBillingPeriod?.IsOpen ?? false) ? "Zamknij okres" : "Otwórz okres")
                            </button>
                        </li>
                    </ul>
                </div>
                <button type="button" class="btn btn-success" @onclick="ViewModel.CreateBillingDialog">
                    <Tooltip Placement="TooltipPlacement.Top" Text="Utwórz nowy okres rozliczeniowy">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                        </svg>
                    </Tooltip>
                </button>
            </div>
        </div>
    </div>

    @if (ViewModel.SelectedBillingPeriod is not null)
    {

        @if (ViewModel.SelectedBillingPeriod is not null)
        {
            <CascadingValue Value="ViewModel.SelectedBillingPeriod" Name="BillingPeriod">
                <BookDetails RegisterId="RegisterId" />
            </CascadingValue>
        }
        else
        {
            <Placeholder />
        }
    }
    else
    {
        <p class="text-center">Brak danych</p>
    }
}
else
{
    <Placeholder />
}

<CreateBillingPeriodDialog @ref="ViewModel.BillingCreateDialog" />