@inherits LayoutComponentBase


<div class="container py-3" style="max-width: 960px;">
    <header>
        <Header PageTitle="HomeAccountant" />
    </header>
    <main class="content px-4">
        @Body
    </main>
</div>






@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> *@
