<li class="nav-item">
    <ResponsibleNavLink Href="#">
        Home
    </ResponsibleNavLink>
</li>
<AuthorizeView>
    <Authorized>
        <li class="nav-item">
            <ResponsibleNavLink Href="/books" Match="NavLinkMatch.Prefix">
                Księgi
            </ResponsibleNavLink>
        </li>
        <li class="nav-item">
            <ResponsibleNavLink Href="/categories" Match="NavLinkMatch.Prefix">
                Kategorie
            </ResponsibleNavLink>
        </li>
    </Authorized>
</AuthorizeView>