<div class="modal fade @AdditionalModalCssClass" id="@ModalIdentifier" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog @_positionsDictionary[Position]">
        @if (_isVisible)
        {
            <CascadingValue Name="Modal" Value="this">
                @ChildContent
            </CascadingValue>
        }
    </div>
</div>