<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">@ModalTitle</h1>
    <button type="button" class="btn-close" aria-label="Close" @onclick="HideModal_Clicked"></button>
</div>