<Modal @ref="_modal" Position="ModalPosition.Centered">
    <ModalContent>
        <EditForm EditContext="_editContext" OnValidSubmit="Create">
            <DataAnnotationsValidator />
            <ModalHeader ModalTitle="Utwórz nowy okres" />
            <ModalBody>
                <div class="col-12 mb-3">
                    <label for="billingPeriodName" class="form-label">Nazwa</label>
                    <InputText type="text" class="form-control" id="billingPeriodName" @bind-Value="_model!.Name"/>
                    <ValidationMessage For="() => _model.Name" />
                </div>
            </ModalBody>
            <ModalFooter>
                <button type="button" class="btn btn-secondary" @onclick="Cancel">Anuluj</button>
                <button type="submit" class="btn btn-success">Utwórz</button>
            </ModalFooter>
        </EditForm>
    </ModalContent>
</Modal>