@page "/friends"
@attribute [Authorize]
@inherits MvvmComponent<FriendsPanelViewModel>

<Alert @ref="ViewModel.Alert" />

<div class="row justify-content-between">
    <div class="col-12 col-sm-auto">
        <h3>Znajomi</h3>
    </div>
    <div class="col-12 col-sm-auto">
        <button type="button" class="btn btn-primary" @onclick="ViewModel.CreateFriendship">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4" />
            </svg>
            Dodaj znajomego
        </button>
    </div>
</div>

<hr>

@if (!ViewModel.IsBusy)
{
    <NullableTable T="FriendshipModel" Collection="ViewModel.FriendsCollection" AlertReference="ViewModel.Alert">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Zaakceptowane</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                @{
                    int counter = 1;
                }
                <tbody>
                    @foreach (var item in context.Value!)
                    {
                        <tr>
                            <th scope="row">@(counter++)</th>
                            <td>@item.Friend!.UserName</td>
                            <td>@item.Friend.Email</td>
                            <td>
                                @if (!item.IsAccepted)
                                {
                                    @if (item.CreatedBy?.Id == ViewModel.CurrentUserIdentifier)
                                    {
                                        <p>Oczekiwanie na akceptacje</p>
                                    }
                                    else
                                    {
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-sm btn-success" type="button" @onclick="() => ViewModel.AcceptFriendship(item)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
                                                </svg>
                                            </button>
                                            <button class="btn btn-sm btn-light" type="button" @onclick="() => ViewModel.DeleteFriendship(item)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                                                </svg>
                                            </button>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <p>Tak</p>
                                }
                            </td>
                            <td>
                                <button type="button" class="btn btn-sm btn-danger" @onclick="() => ViewModel.DeleteFriendship(item)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </NullableTable>
}
else
{
    <Placeholder />
}

<CreateFriendship @ref="ViewModel.CreateInvitationDialog" />
<DeleteFriendship @ref="ViewModel.DeleteFriendshipDialog" />

@code {

}