<div class="d-inline-block"
     id="@_tooltipIdentifier"
     data-bs-toggle="tooltip"
     data-bs-placement="@TranslateTooltipPlacement()"
     data-bs-custom-class="custom-tooltip"
     data-bs-title="@Text">
    @ChildContent
</div>