<Modal @ref="_modal" Position="ModalPosition.Centered">
    <ModalContent>
        <EditForm EditContext="_editContext" OnSubmit="Submit">
            <DataAnnotationsValidator />
            <ModalHeader ModalTitle="Logowanie" />
            <ModalBody>
                <Alert @ref="_alert" />
                <div class="col-12 col-md-9 mb-3">
                    <label for="emailInput">Email:</label>
                    <InputText id="emailInput" class="form-control" @bind-Value="_loginData!.Email" />
                    <ValidationMessage For="() => _loginData.Email" />
                </div>
                <div class="col-12 col-md-9">
                    <label for="passwordInput">Hasło:</label>
                    <InputText type="password" id="passwordInput" class="form-control" @bind-Value="_loginData!.Password" />
                    <ValidationMessage For="() => _loginData.Password" />
                </div>
            </ModalBody>
            <ModalFooter>
                <button type="button" class="btn btn-secondary" @onclick="Cancel">Anuluj</button>
                @if (_isBusy)
                {
                    <button type="submit" class="btn btn-success" disabled>
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span role="status">Logowanie...</span>
                    </button>
                }
                else
                {
                    <button type="submit" class="btn btn-success">Zaloguj się</button>
                }
            </ModalFooter>
        </EditForm>
    </ModalContent>
</Modal>